* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

// @import "~bootstrap/scss/bootstrap";
// @import "~react-modal-video/scss/modal-video.scss";
// @import "../css/icons.min.css";

// body{
//     background: linear-gradient(252deg, #D0EBFF 0%, #FFF2FA 100%);
//     background-repeat: no-repeat;
// }

@import "variables";
@import "helper";
@import "common";
@import "preloader";
@import "header";
@import "slider";
@import "support";
@import "section-title";
@import "product";
@import "blog";
@import "footer";
@import "banner";
@import "suscribe";
@import "about";
@import "image-slider";
@import "testimonial";
@import "brand-logo";
@import "timers";
@import "breadcrumb";
@import "sidebar";
@import "shop";
@import "product-details";
@import "cart";
@import "compare";
@import "checkout";
@import "contact";
@import "blog-details";
@import "login-register";
@import "my-account";
@import "404";
@import "video-popup";
@import "home";
@import "logreg";
@import 'student';
@import 'universities';



*{
    z-index: 3;
}
.fs-7 {
    font-size: 18px;
}

.max-width {
    max-width: 1920px !important;
}

.px-6 {
    padding-left: 131px;
    padding-right: 131px;

    @media (max-width: 992px) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (max-width: 775px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.py-6 {
    padding-top: 145px;
    padding-bottom: 145px;
}

.bg-footer {
    background: linear-gradient(45deg, #3A52D1 65%, #D9764B 98.61%);
    background-repeat: no-repeat;
}

.text-pr {
    color: #3772FF;
}

.margin-each {
    margin-bottom: 250px;
    margin-top: 0;

    @media (max-width:768px) {
        margin-bottom: 150px;
    }

    @media (max-width:576px) {
        margin-bottom: 100px;
    }

}

.btn-unver {
    width: 209px;
    height: 60px;
    margin: 0 auto;
    border-radius: 35px;
    border: 1px solid #3772FF;
    color: #3772FF;
    padding: 17px 0px;
    flex-shrink: 0;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.3s linear;
    text-align: center;
    font-family: $Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        background-color: #3772FF;
        color: #FFF;
    }

    @media (max-width:560px) {
        width: 30%;
        height: auto;
        padding: 7px 0;
        font-size: 15px;
    }
}


// $font-family: "Poppins", sans-serif;
.university-swiper {
    .first-swiper {
        position: relative;
        width: 100%;
        margin: 0 auto;
        min-height: 500px;
        margin-bottom: 40px;
        column-gap: 3rem;
        // padding-block: min(20vh, 3rem);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .swiper-container {
            position: relative;
        }

        .swiper {
            width: 100%;
            height: 500px;
            // padding: 60px 0 95px 0;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            position: relative;
            border-radius: 12px;
            height: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }


        }

        .swiper-slide-next,
        .swiper-slide-prev {
            opacity: 0.5;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background: #fff;
            color: #333;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease;

            // opacity: 0;

            &:hover {
                background: #333;
                color: #fff;
            }
        }


        @media (max-width:560px) {
            min-height: unset;

            .swiper-container {
                .mySwiper2 {
                    height: 200px;
                }
            }
        }
    }

    .info-university {
        color: #2862EE;
        font-family: Gilroy;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;

        @media (max-width:560px) {
            font-size: 16px;
        }
    }

    .register-btn {
        font-size: 20px;
        border-radius: 35px;
        background: linear-gradient(0deg, #1757AE 0%, #0266EF 100%, #0061E7 100%);
        color: #FFF;
        text-align: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        padding: 10px 0;
        width: 60%;
        margin: auto;

        @media (max-width:560px) {
            font-size: 10px;
        }
    }
}

.achievements {
    // padding: 0 9rem;

    @media (max-width:1200px) and (min-width:1000px) {
        padding: 0 2rem;
    }

    // @media (max-width:768px) {
    //     padding: 0 1rem;
    // }

    // @media (max-width:0) {
    //     padding: 0 9rem;
    // }
}

.go-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
    cursor: pointer;
    z-index: 2;
}